.home-page {
	position: relative;
	display: flex;

	flex: 1;

	padding: 16px;

	border: 1px solid #dddddd;

	background-color: #ffffff;
}

.button {
	width: 80px;
	height: 120px;

	font-size: 40px;
	line-height: 1em;
}

.value {
	position: relative;
	display: flex;

	flex: 1;

	width: 120px;
	height: 120px;

	font-size: 40px;
	line-height: 1em;

	align-items: center;
	justify-content: center;
}
